{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
    <div class="container mt-4 d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card shadow p-4 " style="width: 400px;">
            <h3 class="text-center mb-4">Forgot Password</h3>
            <div class="flash-messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                {% set category = 'danger' %}
                            {% elif category == 'message' %}
                                {% set category = 'info' %}
                            {% endif %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <form action="{{ url_for('forgot_password') }}" method="post">
            <div class="mb-3">
                <input type="email" id="email"  class="form-control" name="email" placeholder="Enter your registered email" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success w-100">Reset Password</button>
            </div>
            </form>
            <a href="{{ url_for('login') }}" class="btn btn-secondary w-100 mt-3">Back to Login</a>
        </div>
    </div>
{% endblock %}
