{% extends 'base.html' %}

{% block title %}Test VoIP.ms Settings{% endblock %}

{% block content %}
<div class="container mt-4 d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow p-4 " style="width: 400px;">
        <h3 class="text-center mb-4">Test VoIP.ms Settings</h3>
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            {% set category = 'danger' %}
                        {% elif category == 'message' %}
                            {% set category = 'info' %}
                        {% endif %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <!-- Test Email Form -->
        <form method="POST" action="{{ url_for('test_sms') }}">
            <div class="mb-3">
                <label for="dest_no" class="form-label">Send To:</label>
                <input type="phone" name="dest_no" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="test_sms" class="form-label">message:</label>
                <input type="phone" name="test_sms" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success w-100">Send Test SMS</button>
        </form>
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary w-100 mt-3">Back to Dashboard</a>
    </div>
</div>
{% endblock %}
